<!doctype html>
<html lang="en">

<head>
    <% include partials/header %>
    <% include partials/navbar %>
<!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<!--    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
</head>

<body>
  
<div class="edit text-center animated fadeIn">
    <form action="/delete" method="post">
    <table class="table table-borderless ">
        <tbody>
        <tr>
            <td style="color: black">Are you sure you want to delete account?</td>
        </tr>
        <tr>
            <td>
                <button type="submit text-center" class="col-md-4 btn btn-danger float-center my-auto">Delete</button>
                <a href="/" class=" col-sm-4 btn btn-secondary float-center my-auto">Cancel</a>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</div>






<% include partials/footer %>
</body>
</html>

